{% extends "base.html" %}

{% block title %}Insurance App - pojištění klienta
{% endblock %}

{% block body %}
	<header
		class="title">
		<!-- není nutné, styluju to přes main h1-->
		<h1>Detaily vaší pojistné smlouvy</h1>
	</header>

	{# TODO add  insurance details #}



	{# display content on screens down to 485px #}

	<div class="table-bigscreen">




		{% for row in userData.details %}
			<table class="theading">
				{% for value in translated %}
					<tr>
						<td>{{ value }}</td>
					</tr>
				{% endfor %}
				<tr><td>detail smlouvy</td></tr>
			</table>

			<table class="tcontent">
				{% for cell in row %}
					<tr>
						<td>{{ cell }}</td>
					</tr>
				{% endfor %}
				<tr><td><a href="{{ row.ins_number }}"><img src="/img/icons/search.png" alt="search icon" class="search-icon">zobrazit</a>
				</tr></td>
			</table>
		{% endfor %}
	</div>

{% endblock %}
