{% extends "base.html" %}

{% block title %}Insurance App - pojištění klienta
{% endblock %}

{% block body %}
	<header
		class="title">
		<!-- není nutné, styluju to přes main h1-->
		<h1>Vaše pojistné smlouvy</h1>
	</header>

	<div class="table">
		{# display content of nested array #}

		<div class="table-head">
				{% for key, value in translated %}
					<span class="table-headings" data-th="{{value|e }}">{{value|e }}</span>
				{% endfor %}
		</div>


		<div class="table-head">
			{% for row in userData %}
				
					{% for cell in row %}
					<span class="table-rows"
						<span class="table-cells">
							{{ cell|e }}
						</span>
					</span>
					{% endfor %}
			
			{% endfor %}
		</div>
	</div>
		{# TODO rozlišit různé statusy pojištění - dořešit JavaScriptem?#}

{% endblock %}
