{% extends "base.html" %}

{% block title %}Insurance App - homepage
{% endblock %}

{% block body %}

<header>
	<h1>Vítejte v aplikaci pro správu a evidenci pojištění</h1>
</header>

{% if session.user_id %}
	<nav class="home-icons">
		<a href="/Insurances/view"><div class="icon card1"></div></a>
		<a href="/Events/view"><div class="icon card2"></div></a>
		<a href="/Users/view"><div class="icon card3"></div></a>
	</nav>

	{% else %}
		<h2>Pro přístup do aplikace se přihlaste zadáním přihlašovacích údajů do formuláře níže:</h2>
		<form method="post" action="/login/login" class="loginForm">
			<label for="email">E-mail:</label>
			<input type="email" name="email" id="email" placeholder="váš e-mail" required autofocus value="{{ email }}">
			<p>
				<label for="password">Heslo:</label>
				<input type="password" name="password" id="password" placeholder="vaše heslo" required>
			</p>
			<p>
				<button type="submit">přihlásit se</button>
			</p>
		</form>

		<div class="errorMessage"><h2>Pro demo přístup do aplikace zadejte následující údaje:</h2>
			<p>e-mail: bet@bet.cz</p>
			<p>heslo: jedna</p>
		</div>
		<div class="errorMessage">{{userData.loginError}}</div>

{% endif %}

{% endblock %}