{% extends "base.html" %}

{% block title %}Insurance App - pojistné události klienta
{% endblock %}

{% block body %}

	<h1>Vaše pojistné události</h1>
	
	{# TODO add event details #}

	{# display content on screens down to 485px #}
	<table class="table-bigscreen">
		<thead>
			<tr>
				{% for value in translated %}
					<th>{{ value }}</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for row in userData %}
				<tr>
					{% for cell in row %}
						<td>
							{{ cell }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
			{# TODO rozlišit různé statusy událostí - dořešit JavaScriptem?#}




	{# display content on mobile screens up to 485px #}
	<div class="table-mobile">
		{% for row in userData %}

			<table class="theading">
				{% for value in translated %}
					<tr>
						<td>{{ value }}</td>
					</tr>
				{% endfor %}
			</table>

			<table class="tcontent">
				{% for cell in row %}
					<tr>
						<td>{{ cell }}</td>
					</tr>
				{% endfor %}
			</table>
		{% endfor %}

	</div>







{% endblock %}
