{% extends "base.html" %}

{% block title %}Insurance App - pojistné události klienta
{% endblock %}

{% block body %}

	<h1>Vaše pojistné události</h1>
	<table>

		{# display content of nested array #}
		<thead>
			<tr>
				{% for key, value in translated %}
					<th>{{value|e }}</th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for row in userData %}
				<tr>
					{% for cell in row %}
						<td>
							{{ cell|e }}
						</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
