{% extends "base.html" %}

{% block title %}Insurance App - pojistné události klienta{% endblock %}

{% block body %}

    <h1>Vaše pojistné události</h1>
    <table>
        
        {# výpis multiarray #}
            <tr>
                {% for key, value in translated %}
                    <td>{{value|e }}</td>
                {% endfor %}
            </tr>
            
            {% for row in userData %}
            <tr>
                    {% for cell in row %}
                    <td> {{ cell|e }} </td>
                {% endfor %}
            
            </tr>
            {% endfor %}
        </table>
{% endblock %}