

{% extends "base.html" %}

{% block title %}Insurance App - osobní údaje klienta{% endblock %}

{% block body %}

    <h1>Vaše osobní údaje</h1>

    <form method="post" action="/Users/submit">
        <h3>Vaše osobní údaje</h3>
        
        {% for key, value in user %}

            <label for {{ key }}>{{ key }}</label>
            <input placeholder="{{ value }}" name="{{ key }}" id="{{ key }}"></input>
            <br>

        {% endfor %}
    

    <p><input type="submit" value="Uložit změny"></input></p>
</form>

{% endblock %}

