{% extends "base.html" %}

{% block title %}Insurance App - osobní údaje klienta
{% endblock %}

{% block body %}
	<h1>Vaše osobní údaje</h1>

	<table class="table-bigscreen">
		{# display content of nested array #}
		<tr>
			{% for key, value in translated %}
				<th>{{ value }}:</th>

				{% for value in userData.0|slice(key,1) %}
					<td>{{ value }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>

	<p>
		<a href="/Users/edit">
			<button>Změnit osobní údaje</button>
		</a>
	</p>

	<div>
		<p>
			<a href="/Users/editLogin">
				<button>Změnit přihlašovací heslo</button>
			</a>
		</p>

	</div>
{% endblock %}
