{% extends "base.html" %}

{% block title %}Insurance App - přihlašovací údaje klienta{% endblock %}

{% block body %}

    <h1>Vaše přihlašovací údaje</h1>

    {% if userData is empty %}
    <p>Nebyla provedena žádná změna.</p>

    {% else %}
    <p>Následující změny byly uloženy:</p>

    {% for key, value in translated %}
    <p> {{ value }}:

        {% for key, value in userData|slice(key,1) %}
       
        {{ value }} {% endfor %}
       </p>
    {% endfor %}

    {% endif %}
    
    <p><a href="/Users/view">Zpět na přehled osobních údajů</a>

{% endblock %}
