<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    {% endblock %}
    <link rel="icon" href="data:,">
</head>
<body>

    <div><img src="/img/logo.png"  class="logo"></div>    
    <nav>
        <ul>
        {% block nav %}
        {{ include('nav.html') }}
        {% endblock %}
    </ul>
    </nav>

    {% block body %}
    {% endblock %}
</body>
</html>
