{% block nav %}
	{% if session.user_id %}

	<div class="navbar">
		<div class="nav-icons">
			<span class="home-icon">
				<a href="/"><img src="/img/nav/home.png" alt="home icon"></a>
			</span>
			<span class="toggle">
				<a id="toggle-icon">
					<img src="/img/nav/menu.png" alt="toggle menu icon">
				</a>
			</span>
			<span class="home-icon">
				<a href="/logout"><img src="/img/nav/logout.png" alt="logout icon"></a>
			</span>
		</div>

		<span class="notoggle nav-item"><a href="/">Domů</a></span>
		<div class="menu-items">
			<span class="nav-item"><a href="/Insurances/view">Pojištění</a></span>
			<span class="nav-item"><a href="/Events/view">Pojistné události</a></span>
			<span class="nav-item"><a href="/Users/view">Osobní údaje</a></span>
		</div>
		<span class="notoggle nav-item"><a href="/logout">Odhlásit se</a></span>
	</div>

		{% else %}

	{% endif %}

{% endblock %}
